.venv/
app/__pycache__
app/core/__pycache__
app/core/features/__pycache__
app/core/predictors/__pycache__
app/data/__pycache__
app/data/collectors/__pycache__
app/data/preprocessors/__pycache__
app/models_cache/